.episode-card {
  background-color: var(--episode-bg);
  border: 2px solid var(--episode-border);
  border-radius: 5%;
  text-align: center;
  text-decoration: none;
  color: var(--episode-text);
  transition: transform 0.2s ease-in-out, background-color 0.3s,
    border-color 0.3s;
}

.episode-card:hover {
  transform: scale(1.03);
}

.episode-card h2 {
  font-size: 3.3rem;
  color: var(--episode-title);
}

.episode-card p {
  font-size: 2.9rem;
  color: var(--episode-subtitle);
}

.episode-card img {
  border-radius: 5%;
  height: 30rem;
}

.title-container {
  padding: 2rem;
  margin: 2rem auto;
  max-width: 800px;
  text-align: center;
  border: 3px solid var(--title-border);
  background-color: var(--title-bg);
  border-radius: 20px;
}

.title-container h1 {
  font-size: 3.5rem;
  color: var(--title-border);
  margin-bottom: 1rem;
}

.title-container p {
  font-size: 2.9rem;
  margin: 0.5rem 0;
  color: var(--title-text);
}

.title-container strong {
  color: var(--title-strong);
}

.loading {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 2rem;
  color: var(--episode-text);
}

@media (max-width: 1024px) {
  .episode-card {
    width: 90%;
    padding: 2rem;
    margin: 1rem auto;
  }

  .episode-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .title-container h1 {
    font-size: 2.5rem;
  }

  .title-container p {
    font-size: 1.8rem;
  }
}

@media (max-width: 600px) {
  .episode-card {
    padding: 1.5rem;
  }

  .episode-card img {
    height: 15rem;
  }

  .title-container h1 {
    font-size: 2rem;
  }

  .title-container p {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .episode-card {
    padding: 1rem;
  }
  .episode-card img {
    max-height: 15rem;
  }

  .episode-card h2 {
    font-size: 1.4rem;
  }
  .episode-card p {
    font-size: 1.3rem;
    margin: 0.5rem 0;
    color: var(--title-text);
  }
}
