.location-card {
  background-color: var(--location-bg);
  border: 2px solid var(--location-border);
  border-radius: 5%;
  text-align: center;
  text-decoration: none;
  color: var(--location-text);
  transition: transform 0.2s ease-in-out, background-color 0.3s,
    border-color 0.3s;
}

.location-card:hover {
  transform: scale(1.03);
}

.location-card h2 {
  font-size: 3.3rem;
  color: var(--location-title);
}

.location-card p {
  font-size: 2.9rem;
  color: var(--location-subtitle);
}

.location-card img {
  border-radius: 5%;
  height: 30rem;
}

.title-container {
  padding: 2rem;
  margin: 2rem auto;
  max-width: 800px;
  text-align: center;
  border: 3px solid var(--location-border);
  background-color: var(--location-highlight);
  border-radius: 20px;
}

.title-container h1 {
  font-size: 3.5rem;
  color: var(--location-title);
  margin-bottom: 1rem;
}

.title-container p {
  font-size: 2.9rem;
  margin: 0.5rem 0;
  color: var(--location-highlight-text);
}

.title-container strong {
  color: var(--location-highlight-strong);
}

.loading {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 2rem;
  margin-bottom: 200rem;
  color: var(--location-text);
}

@media (max-width: 1024px) {
  .location-card {
    width: 90%;
    margin: 1rem auto;
    padding: 1.5rem;
  }

  .location-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .location-card h2 {
    font-size: 2.5rem;
  }

  .location-card p {
    font-size: 2rem;
  }

  .title-container {
    padding: 1.5rem;
  }

  .title-container h1 {
    font-size: 2.8rem;
  }

  .title-container p {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .location-card {
    padding: 1rem;
  }

  .location-card img {
    height: 15rem;
  }

  .location-card h2 {
    font-size: 2rem;
  }

  .location-card p {
    font-size: 1.6rem;
  }

  .title-container {
    padding: 1rem;
  }

  .title-container h1 {
    font-size: 2.2rem;
  }

  .title-container p {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .location-card {
    width: 90%;
    padding: 1rem;
    text-align: center;
  }

  .location-card img {
    width: 100%;
    height: 13rem;
    object-fit: cover;
    border-radius: 5%;
  }

  .location-card h2 {
    font-size: 1.8rem;
  }

  .location-card p {
    font-size: 1.3rem;
  }

  .title-container {
    padding: 1rem;
    margin: 1rem auto;
  }

  .title-container h1 {
    font-size: 1.8rem;
  }

  .title-container p {
    font-size: 1.2rem;
  }
}
