/* Layout */
.pages {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 2rem;
}

/* Navigation */
.nav {
  background-color: var(--arrow-bg);
  border: var(--arrow-bg);
  outline: none;
}

.nav:hover,
.nav:active {
  background-color: var(--arrow-bg);
  border: 1px solid var(--arrow-bg);
  padding-top: 20px;
  outline: none;
}

.nav:focus {
  outline: none;
}

/* Arrow Icon */
.arrow {
  height: 6rem;
  background-color: var(--arrow-bg);
  transition: background-color 0.3s;
}

/* Typography */
p {
  font-size: 5rem;
  font-weight: bold;
  color: #9cf9b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .arrow {
    height: 4rem;
  }

  .nav {
    padding: 0.4rem 0.8rem;
  }

  p {
    font-size: 2.2rem;
  }
}

@media (max-width: 480px) {
  .pages {
    justify-content: center;
    padding: 1rem;
  }

  .arrow {
    height: 2rem;
  }

  .nav {
    padding: 0.4rem 0.8rem;
  }

  p {
    font-size: 1.6rem;
  }
}
