.title {
  font-size: 4rem;
  margin-top: 6rem;
  transition: color 0.3s;
}

.title:hover {
  color: #5b8938;
}

/* Responsive Design */
@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .title {
    margin-top: 40px;
    font-size: 1.2rem;
  }
}
