.characters-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  align-items: center;
}
.character-card {
  background-color: #80808070;
  border: 3px solid rgb(16, 186, 110);
  border-radius: 5%;
  position: relative;
  padding: 1rem;
  text-align: center;
}
.character-card h2 {
  font-size: 1.4rem;
  padding-top: 20px;
  color: rgb(16, 186, 110);
  font-weight: bold;
}

.character-card h3 {
  font-weight: 400;
}

.character-card h3 span {
  font-size: 1.5rem;
  font-weight: 400;
}

.character-card .alive {
  top: 0px;
  right: 20px;
  color: #fff;
  border: 1px solid rgb(52, 155, 73);
  position: absolute;
  padding: 2px;
  border-radius: 15%;
  background-color: rgb(52, 155, 73);
}

.character-card .dead {
  top: 0px;
  right: 20px;
  color: #fff;
  border: 1px solid rgb(235, 46, 46);
  position: absolute;
  padding: 2px;
  border-radius: 15%;
  background-color: rgb(235, 46, 46);
}

.character-card .unknown {
  top: 0px;
  right: 20px;
  color: #fff;
  border: 1px solid rgb(209, 177, 37);
  position: absolute;
  padding: 2px;
  border-radius: 15%;
  background-color: rgb(209, 177, 37);
}

.character-card img {
  border-radius: 2%;
}
