.container {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  gap: 1rem;
  padding: 20px;
  column-gap: 0px;
  column-fill: auto;
}

.episodes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 2rem;
}
