.main-header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: rgb(16, 186, 110);
  height: 11rem;
  padding: 0 4.8rem;
  overflow: hidden;
}

.logo {
  height: 15rem;
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2 rem;

  transition: color 0.3s;
}

.title:hover {
  color: #5b8938;
}
